@mixin card_basic {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  border-radius: 5px;
  overflow: hidden;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-width: 1px;
}

.card {
  @include card_basic();
  min-height: auto;
  width: auto;
  padding: 15px;
}

.card-group {
  @include card_basic();
  min-height: 20px;

  .card {
    border: none;
    box-shadow: none;
    border-radius: 0;

    border-bottom: 1px solid rgb(232, 232, 232);
    transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;

    &:last-child {
      border-bottom: 0;
    }
  }
}