@import url(https://fonts.googleapis.com/css?family=Lato:300);

$color-2nd: GhostWhite;
$color-3rd: Gainsboro;

.window {
  width: 100%;
  background: $color-2nd;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: block;

  .window-header {
    height: 37px;
    background: $color-3rd;
    position: relative;

    .action-buttons {
      position: absolute;
      display: block;
      top: 30%;
      left: 1rem;
      width: 0.6rem;
      height: 0.6rem;
    }

    .title {
      position: absolute;
      top: 20%;
      left: 5rem;
    }

    .language {
      display: inline-block;
      position: absolute;
      right: 2rem;
      top: 15%;
      text-align: right;
      -webkit-appearance: none;
      appearance: none;
      border: none;
      background: transparent;
      font-family: Lato, sans-serif;
      color: DimGrey;
    }
  }

  .window-body {
    position: relative;
    height: 100%;
  }
}

// Prism
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: none;
}

pre[class*="language-"] {
  padding: 1rem;
  margin: 0 0;
  overflow: auto;
}
