// https://sass-lang.com/documentation/at-rules/control/each
// https://sass-lang.com/documentation/at-rules/mixin
// https://dev.to/meduzen/write-css-variables-faster-in-scss-1mon
// https://www.sitepoint.com/using-sass-build-color-palettes/
// https://javisperez.github.io/tailwindcolorshades/#/?cyprus=0a4043&shark=202020&toledo=430a24&scooter=2bbbd6&earls-green=d0bb2b&malachite=32c849&Flush%20Mahogany=d34344&tv=1

@function v($var, $fallback: null) {
  @if ($fallback) {
    @return var(--#{$var}, #{$fallback});
  } @else {
    @return var(--#{$var});
  }
}

@mixin create-color-classes($name) {
  $grade: 100, 200, 300, 400, 500, 600, 700, 800, 900;

  // color
  .color-#{$name}-light {
    color: var(--color-#{$name}-light);
  }
  .color-#{$name} {
    color: var(--color-#{$name});
  }
  .color-#{$name}-dark {
    color: var(--color-#{$name}-dark);
  }
  @each $g in $grade {
    .color-#{$name}-#{$g} {
      color: var(--color-#{$name}-#{$g});
    }
  }
  // background
  .color-#{$name}-bg-light {
    background-color: var(--color-#{$name}-light);
  }
  .color-#{$name}-bg {
    background-color: var(--color-#{$name});
  }
  .color-#{$name}-bg-dark {
    background-color: var(--color-#{$name}-dark);
  }
  @each $g in $grade {
    .color-#{$name}-bg-#{$g} {
      background-color: var(--color-#{$name}-#{$g});
    }
  }
}

.sp {
  .color-white {
    color: var(--color-white);
  }
  .color-white-bg {
    background-color: var(--color-white);
  }

  .color-black {
    color: var(--color-black);
  }
  .color-black-bg {
    background-color: var(--color-black);
  }

  @include create-color-classes("gray");
  @include create-color-classes("brand");
  @include create-color-classes("cta");
  @include create-color-classes("info");
  @include create-color-classes("success");
  @include create-color-classes("warning");
  @include create-color-classes("danger");
}
