@mixin form_styles {
  height: 2rem;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
  &::placeholder {
    color: var(--input-placeholder);
  }
  &:focus {
    outline: none;
    border-color: var(--input-border-focus);
  }
}

.sp {
  .form-row {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
    line-height: 2rem;

    input {
      display: block;
      width: 100%;
      padding: 8px 16px;
      line-height: 1rem;
      font-weight: 500;
      font-family: inherit;
      border-radius: 0.2rem;
      -webkit-appearance: none;
      @include form_styles();
    }

    textarea {
      display: block;
      border-radius: 0.2rem;
      padding: 0.5rem;
      height: auto !important;
      @include form_styles();
    }

    select {
      display: block;
      width: 100%;
      padding: 0.5rem;
      line-height: 2rem;
      height: 2rem;
      @include form_styles();
    }

    select[multiple] {
      height: auto !important;
    }

    label {
      display: block;
      padding-right: 1rem;
      font-weight: 500;
    }

    .input-helper-text {
      display: block;
      padding-left: 0rem;
      color: #c6c6c6;
      flex-basis: 100%;
    }

    .input-error-text {
      display: block;
      padding-left: 0rem;
      color: red;
      flex-basis: 100%;
    }

    .form-group {
      display: flex;
      height: 2rem;
      input {
        &:last-child {
          border-radius: 0 0.2rem 0.2rem 0;
        }

        &:first-child {
          border-radius: 0.2rem 0 0 0.2rem;
        }
      }

      .form-input-addon:last-child {
        border-radius: 0 0.2rem 0.2rem 0;
      }

      .form-input-addon:first-child {
        border-radius: 0.2rem 0 0 0.2rem;
      }
    }

    .form-input-addon {
      align-items: center;
      line-height: 2rem;
      background-color: #c4c4c4;
      font-size: 0.75rem;
      padding: 0rem 0.5rem;
    }

    &.form-horizontal {
      display: flex;
      label {
        display: inline-block;
      }

      .input-helper-text {
        padding-left: 1rem;
      }
      .input-error-text {
        padding-left: 1rem;
      }
    }
  }
}
