:root {
  --form-radius: 3px;
  --form-text-color: var(--color-gray-900);
  --form-border-color: var(--color-gray-500);
  --form-bg-color: var(--color-white);
  --form-placeholder-color: var(--color-gray-300);
  --form-border-focus-color: var(--color-gray-800);
  --form-helper-text-color: var(--color-gray-600);
  --form-label-color: var(--color-gray-800);
  --form-addon-text-color: var(--color-gray-900);
  --form-error-text-color: var(--color-danger-600);
}

@mixin form_styles {
  color: var(--form-text-color);
  border-radius: var(--form-radius);
  border: 1px solid var(--form-border-color);
  background-color: var(--form-bg-color);
  transition: border 0.3s ease;
  padding: 5px 10px;

  &::placeholder {
    color: var(--form-placeholder-color);
  }
  &:focus {
    outline: none;
    border-color: var(--form-border-focus-color);
  }
}

.form-element {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 500;
  }

  input,
  textarea,
  select {
    @include form_styles();
  }

  textarea {
    padding: 10px;
    height: auto !important;
  }

  select[multiple] {
    height: auto !important;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    border: 0;

    .form-addon {
      background-color: #264653;
      color: white;
      padding: 0px 10px;

      &:first-child {
        border-radius: var(--form-radius) 0 0 var(--form-radius);
      }

      &:last-child {
        border-radius: 0 var(--form-radius) var(--form-radius) 0;
      }

    }
    input:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    > :not(:first-child) {
      border-left: 0;
      border-radius: 0 var(--form-radius) var(--form-radius) 0;

    }

    > :not(:last-child) {
      border-right: 0;
      border-radius: var(--form-radius) 0 0 var(--form-radius);


    }
  }
}
