$grid-spacing: 2%;
$grid-columns: 12;
$grid-width: 960px;

.container {
  position: relative;
  width: 100%;
  max-width: $grid-width;
  margin: 0 auto;
  box-sizing: border-box;
}

.full-width {
  max-width: 100% !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

// Basic Grid made with width and margin
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.row {
  @include clearfix;
}

[class^="col-"] {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  float: left;
  margin-right: $grid-spacing;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:last-child {
    margin-right: 0;
  }
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  flex: 0 0 100%;
}

.col-half {
  flex-grow: 1;
  flex: 0 0 50%;
  max-width: 50%;
  // no space
  margin-right: 0;
}

@function grid-width($cols, $has-gutter: true) {
  @if $has-gutter {
    @return calc(((100% / #{$grid-columns}) * #{$cols}) - #{$grid-spacing});
  } @else {
    @return calc((100% / #{$grid-columns}) * #{$cols});
  }
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    max-width: grid-width($i);
    flex: 0 0 percentage((100/12 * $i/100));
  }
  .col-#{$i}:last-child {
    max-width: grid-width($i, false);
  }
}

@for $i from 1 through $grid-columns - 1 {
  .col-#{$i}-offset {
    margin-left: grid-width($i);
  }
}

// FlexBox

.flex-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: $grid-spacing;
  width: calc(100% - #{$grid-spacing});
}

.flex-column:last-child {
  margin-right: 0;
}

@for $i from 1 through $grid-columns {
  .flex-size-#{$i} {
    flex: $i;
  }
}

// CSS Grid

.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: $grid-spacing;
}

.grid-column {
  display: flex;
}

// Helpers
.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}
.display-flex {
  display: flex !important;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.margin-1 {
  margin: 0.25rem !important;
}

.margin-2 {
  margin: 0.5rem !important;
}

.margin-3 {
  margin: 1rem !important;
}

.margin-4 {
  margin: 1.5rem !important;
}

.margin-5 {
  margin: 3rem !important;
}

.margin-auto {
  margin: auto !important;
}
