@mixin setIconColor($icon-color) {
  fill: $icon-color;
  .transparent-fill-stroke {
    stroke: $icon-color;
  }
}

.icon {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  @include setIconColor(var(--color-icon-default));

  & > svg {
    transition: inherit;
    title {
      display: none;
    }
  }
}
