@mixin setIconColor($icon-color) {
  fill: $icon-color;
  .transparent-fill-stroke {
    stroke: $icon-color;
  }
}

.icon {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  @include setIconColor(var(--color-icon-default));

  &.primary {
    @include setIconColor(var(--color-primary));
  }
  &.success {
    @include setIconColor(var(--color-success));
  }
  &.info {
    @include setIconColor(var(--color-info));
  }
  &.warning {
    @include setIconColor(var(--color-warning));
  }
  &.danger {
    @include setIconColor(var(--color-danger));
  }

  & > svg {
    transition: inherit;
    title {
      display: none;
    }
  }
}
