.image-circle {
  border-radius: 50%;
}
.image-round-xs {
  border-radius: 2%;
}
.image-round-md {
  border-radius: 5%;
}
.image-round-xl {
  border-radius: 10%;
}
.image-responsive {
  width: 100%;
  height: auto;
}
.image-flip {
  transform: scaleX(-1);
}
