:root {
  // Colors https://clrs.cc/
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 4%);
  --color-body-background: hsl(215, 24%, 90%);

  --color-light: #dddddd;
  --color-dark: hsl(0, 0%, 21%);
  --color-gray: #aaaaaa;

  --color-primary: #001f3f;
  --color-info: #7fdbff;
  --color-success: #2ecc40;
  --color-warning: #ffdc00;
  --color-danger: #85144b;

  // LINKs
  --color-link: #0074d9;
  --color-link-hover: #39cccc;
  --color-link-active: #3d9970;

  // Cards
  --color-border: var(--color-gray);

  // Icons
  --color-icon-default: black;

  // Forms
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;

  --input-border-focus: #275efe;

  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;

  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;
}
