.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem;
  background-color: var(--color-primary-600);
  align-items: center;
  justify-content: center;
  text-align: center;

  .navigation-logo {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
  }

  .navigation-wrapper {
    width: 100%;
    @media (min-width: 1024px) {
      display: inline-flex;
      width: auto;
      flex-grow: 1;
    }
  }

  .navigation-body {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    @media (min-width: 1024px) {
      display: inline-flex;
      width: auto;
      margin-left: auto;
      height: auto;
      align-items: center;
      flex-direction: row;
    }
  }

  .navigation-menu {
    cursor: pointer;
    color: var(--color-white);
    padding: 0.75rem;
    outline: 0;
    margin-left: auto;
    display: inline-flex;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      display: none;
    }

    > div {
      width: 21px;
      height: 3px;
      background-color: var(--color-white);
      margin: 2px 0;
    }
  }

  .navigation-item {
    color: var(--color-gray-500);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    text-decoration: none;

    @media (min-width: 1024px) {
      width: auto;
      display: inline-flex;

    }

    &:hover {
      background-color: var(--color-primary-800);
    }
  }

}
