$sizes: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  32: 8rem,
  40: 10rem,
  48: 12rem,
  56: 14rem,
  64: 16rem,
  "px": 1px,
);

@each $name, $size in $sizes {
  .space-x-#{$name} {
    margin-left: $size;
  }
  .space-y-#{$name} {
    margin-top: $size;
  }
  // Padding
  .p-#{$name} {
    padding: $size;
  }
  .py-#{$name} {
    padding-top: $size;
    padding-bottom: $size;
  }
  .px-#{$name} {
    padding-left: $size;
    padding-right: $size;
  }
  .pt-#{$name} {
    padding-top: $size;
  }
  .pl-#{$name} {
    padding-left: $size;
  }
  .pr-#{$name} {
    padding-right: $size;
  }
  .pb-#{$name} {
    padding-bottom: $size;
  }

  // margin
  .m-#{$name} {
    margin: $size;
  }
  .my-#{$name} {
    margin-top: $size;
    margin-bottom: $size;
  }
  .mx-#{$name} {
    margin-left: $size;
    margin-right: $size;
  }
  .mt-#{$name} {
    margin-top: $size;
  }
  .ml-#{$name} {
    margin-left: $size;
  }
  .mr-#{$name} {
    margin-right: $size;
  }
  .mb-#{$name} {
    margin-bottom: $size;
  }
}
