// Colors https://clrs.cc/
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 4%);

$color-light: #DDDDDD;
$color-dark: hsl(0, 0%, 21%);
$color-gray: #AAAAAA;

$color-primary: #001f3f;
$color-info: #7FDBFF;
$color-success: #2ECC40;
$color-warning: #FFDC00;
$color-danger: #85144b;

// LINKs
$color-link: #0074D9;
$color-link-hover: #39CCCC;
$color-link-active: #3D9970;

// Cards
$color-border: $color-gray;