.demo-column {
  display: block;
  background-color: hsl(327, 100%, 30%);
  border-radius: 6px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  color: white;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.icon-demo {
  display: block;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  padding: 0.7rem;
  width: 5rem;
}

.icon-demo small {
  display: block;
}

/* playground styles */
.demo-playground {
  border: 1px solid Gainsboro;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.demo-playground-title {
  background-color: Gainsboro;
  border-radius: 10px 10px 0px 0px;
  padding: 0.5rem 0.75rem 0rem 0.75rem;
}

.demo-playground-space-right {
  margin-right: 1rem;
}

.demo-playground-preview {
  padding: 1rem 1rem 0rem 1rem;
}

.demo-playground-editor {
  padding: 1rem 0 0 0;
}
